
#ui > #level-editor {
    pointer-events: none;
    background-color: var(--color-gray);
    padding: 10px;
    height: 220px;
}

#ui button {
    pointer-events: auto;
    border: 2px solid black;
    color: black;
    padding: 8px;
    border-radius: 10px;
}

#ui button:active {
    border: 2px solid gray;
    color: blue;
    background-color: gray;
}

#ui > #level-editor #blocks {
    height: 90px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-top: 3px solid rgba(20, 20, 20, 0.9);
    border-bottom: 3px solid rgba(20, 20, 20, 0.9);
    background-color: rgba(50, 50, 100, 0.6);
}

#ui > #level-editor > #blocks button {
    border: 2px solid black;
    border-radius: 50px / 10px;
    /*width: 32px;
    height: 32px;*/
}

#ui > #level-editor > #blocks button > img {
    width: 32px;
    height: 32px;
}

#ui > #level-editor > #blocks button.block-selected {
    border-color: black;
    background-color: gray;
}

#ui > #level-editor > #util {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#ui > #level-editor .deg-0 img {transform: rotate(0deg)}
#ui > #level-editor .deg-90 img {transform: rotate(90deg)}
#ui > #level-editor .deg-180 img {transform: rotate(180deg)}
#ui > #level-editor .deg-270 img {transform: rotate(270deg)}

#ui > #level-editor > #util #right img {transform: scale(-1, 1)}