* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    touch-action: none;
}

#c {
    display: block;
    width: var(--w);
    height: var(--h);
    background-color: black;
    pointer-events: none;
}

body {
    -webkit-overscroll-behavior: none;
    overscroll-behavior: none;
    overflow: hidden;
    -webkit-touch-callout: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#ui {
    position: absolute;
    width: var(--w);
    height: var(--h);
}

#ui > * {
    margin: auto;
}

img {
    pointer-events: none;
}

.hidden {
    display: none;
}

.selected {
    background: yellow;
}

#ui > #menu-bar {
    display: flex;
    flex-direction: row;
    width: min(90vw, 500px);
    border: 2px solid black;
    margin-top: 2px;
    justify-content: space-evenly;
}

#ui > #menu-bar > button {
    flex-grow: 1;
    border: 2px outset black;
    color: teal;
    background-color: white;
}
#ui > #menu-bar > button:active {
    border: 2px inset black;
    background-color: #eeeeee;
}