
#ui > #texture-packer {
    position: fixed;
    top: 0;
    width: var(--w);
    height: var(--h);
    background-color: #7ad2de;
    flex-direction: column;
    border: 20px solid #29a2d6;
    border-radius: 30px;
}

#ui > #texture-packer canvas {
    border: 2px dashed black;
}

#ui > #texture-packer #atlas {
    pointer-events: auto;
    -webkit-touch-callout: default;
    border: 2px dashed red;
}

#ui > #texture-packer > #bottom {
    margin-top: auto;
    width: auto;
    padding: 20px;
    border-top: 2px solid black;
}